@import "reset";
@import "calendar";
@import "modal";

$bg_color: #1b722e; /* Dark green color */

body{

}
.container{
    height: 700px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr; /* Grid display columns 1fraction 4 fraction parts */
    grid-template-rows: 1fr 4fr; /* Grid display rows 1fraction */
    background-image: url("../img/background.jpg");

    .maintitle{
        grid-column: 1 / -1; /* Span across all columns in first row */
        text-align: center;
        color: white;
        font-size: 50px;
        margin: 20px;

    }
    .sidebar{
        background-color: $bg_color;
        opacity: 0.4;
    }


}
