$christman_green: #3C8D0D;

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 800px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-size: 40px;
    text-align: center;
    padding: 10px 16px;
    background-color: $christman_green;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
}

.modal-body {
    background-image: url("../img/date_.jpg");
    background-repeat: no-repeat;
    background-size: 800px 600px;
    width: 560px;
    height: 420px;
    padding: 90px 120px 90px 120px;
    text-align: center;
    font-family: "Princess Sofia", cursive;
    font-size: 32px;

    img{
        margin: 0 70px 0 70px;
        width: 400px;
        border: 10px ridge $christman_green;
    }

}

.modal-footer {
    background-color: $christman_green;
    color: white;
}
