/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Maroon color */
/*
Positions the date on calendar and content of calendar behind each together.
Also makes sure the children of date class are the same size.
So for example, both dec1--date and dec1dec1--content divs are the same size.
Z-index makes the date go ontop of content varies, the higher the number its on top.
*/
/*
    Places background picture for opened days.
    And make it lighter when hovered over.
*/
.calendar {
  height: 100%;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(5, 120px);
  grid-template-areas: "d1  d2  d3  d4  d5" "d6  d7  d8  d9  d10" "d11 d12 d13 d14 d15" "d16 d17 d18 d19 d20" "d21 d22 d23 d24 . ";
  /* Create mini representation of layout with letters to represent calendar */ }

.date {
  background-color: #912207;
  text-align: center;
  font-size: 100px;
  border: 5px gold ridge;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
  overflow: hidden;
  position: relative; }

.date:hover {
  background-color: white;
  color: #912207; }

#dec1--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d1; }

#dec1--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-size: 112px 112px;
  grid-area: d1; }
  #dec1--content:hover {
    opacity: 0.3; }

#dec2--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d2; }

#dec2--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
  background-size: 112px 112px;
  grid-area: d2; }
  #dec2--content:hover {
    opacity: 0.3; }

#dec3--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d3; }

#dec3--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: 112px 112px;
  grid-area: d3; }
  #dec3--content:hover {
    opacity: 0.3; }

#dec4--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d4; }

#dec4--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-image: url("../img/4.png");
  background-repeat: no-repeat;
  background-size: 112px 112px;
  grid-area: d4; }
  #dec4--content:hover {
    opacity: 0.3; }

#dec5--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d5; }

#dec5--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-image: url("../img/5.png");
  background-repeat: no-repeat;
  background-size: 112px 112px;
  grid-area: d5; }
  #dec5--content:hover {
    opacity: 0.3; }

#dec6--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d6; }

#dec6--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d6; }

#dec7--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d7; }

#dec7--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d7; }

#dec8--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d8; }

#dec8--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d8; }

#dec9--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d9; }

#dec9--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d9; }

#dec10--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d10; }

#dec10--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d10; }

#dec11--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d11; }

#dec11--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d11; }

#dec12--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d12; }

#dec12--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d12; }

#dec13--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d13; }

#dec13--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d13; }

#dec14--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d14; }

#dec14--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d14; }

#dec15--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d15; }

#dec15--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d15; }

#dec16--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d16; }

#dec16--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d16; }

#dec17--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d17; }

#dec17--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d17; }

#dec18--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d18; }

#dec18--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d18; }

#dec19--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d19; }

#dec19--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d19; }

#dec20--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d20; }

#dec20--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d20; }

#dec21--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d21; }

#dec21--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d21; }

#dec22--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d22; }

#dec22--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d22; }

#dec23--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d23; }

#dec23--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d23; }

#dec24--date {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  visibility: visible;
  grid-area: d24; }

#dec24--content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  grid-area: d24; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 800px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  font-size: 40px;
  text-align: center;
  padding: 10px 16px;
  background-color: #3C8D0D;
  color: white;
  font-family: 'Mountains of Christmas', cursive; }

.modal-body {
  background-image: url("../img/date_.jpg");
  background-repeat: no-repeat;
  background-size: 800px 600px;
  width: 560px;
  height: 420px;
  padding: 90px 120px 90px 120px;
  text-align: center;
  font: cursive;
  font-size: 20px; }
  .modal-body img {
    margin: 0 70px 0 70px;
    width: 400px;
    border: 10px ridge #3C8D0D; }

.modal-footer {
  background-color: #3C8D0D;
  color: white; }

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%; }

.snowflake {
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: #FFFFFF;
  user-select: none;
  z-index: 1000; }

.snowflake:hover {
  cursor: default; }

/* Dark green color */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 32fr 48fr;
  /* Grid display columns 1fraction 4 fraction parts */
  grid-template-rows: 130px auto;
  /* Grid display rows 1fraction */
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat; }
  .container .maintitle {
    grid-column: 1 / -1;
    /* Span across all columns in first row */
    text-align: center;
    color: white;
    font-size: 80px;
    margin: 20px;
    font-family: 'Mountains of Christmas', cursive; }
